<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <Title>Chat</Title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="height: 100vh;">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="width: 100%;">
        <a class="navbar-brand" href="/home">
            <img src="/images/kaadi-white.png" width="43" height="30" class="d-inline-block align-top" alt="">
            Kaadi
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="/logout">
                        Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container" style="border: 1px #0275d8 solid; height: calc(100% - 56px)">
    <div class="row">
        <div class="col-12">
            <div class="col-12">
                <h3 th:text="${'Send message to ' + friend.email + ':'}"></h3>
            </div>
            <form class="form-group" th:action="${'/sendMessage/'+friend.id}">
                <div class="row">
                    <div class="col-12 col-sm-10" style="width: 100%;">
                        <input type="text" placeholder="Type a message.." name="sendMessage" class="form-control"/>
                    </div>
                    <div class="col-12 col-sm-2">
                        <button type="submit" id="sendButton" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin: 5px;">
        <div class="col-12" th:each="message : ${messages}">
            <div class="row">
                <div class="col-sm-3">
                    <text style="font-size:17px" th:text="${message.content}"></text>
                </div>
                <div class="col-sm-9">
                    <text style="font-size: 12px;color: cadetblue" th:text="${message.time}"></text>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

</html>