<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <Title>Homepage</Title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/home.css" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="/images/kaadi-white.png" width="43" height="30" class="d-inline-block align-top" alt="">
        Kaadi
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <div th:if="${!invitedByList.isEmpty()}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        Friends Invitations
                        <img src="images/kaadi-black.png" width="35" height="25" class="d-inline-block align-top"
                             alt="">
                    </a>
                    <div class="dropdown-menu">
                        <div th:each="invitation : ${invitedByList}">
                            <div class="table-box">
                                <table class="table">
                                    <thead>
                                    <div class="container">
                                        <a class="text"
                                           style="font-size: larger; color: #0275d8; margin-bottom: 30px">Invitations:</a>
                                    </div>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row"
                                            th:text="${userService.findUserById(invitation.requestUserId).getUsername()}"></th>
                                        <th scope="row">
                                            <form action="/acceptFriendsRequest" method="post">
                                                <button class="btn btn-outline-success" name="id"
                                                        th:value="${invitation.id}"
                                                        type="submit">Accept
                                                </button>
                                            </form>
                                        </th>
                                        <th scope="row">
                                            <form action="/refuseFriendsRequest" method="post">
                                                <button class="btn btn-outline-danger" name="id"
                                                        th:value="${invitation.id}"
                                                        type="submit">Refuse
                                                </button>
                                            </form>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </li>
            </div>
            <li class="nwv-item">
                <a class="nav-link" href="/settings">
                    Settings <img src="/images/settings-icon.png" width="25" height="25"
                                  class="d-inline-block align-top" alt="">
                </a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/logout">
                    Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div th:each="friend : ${friendsList}">
                <div class="row" style="border-bottom: #0275d8 dotted; padding: 10px">
                    <div class="col-4 align-self-center">
                        <img class="img-fluid" src="/images/friends.png" alt="">
                    </div>
                    <div class="col-6 align-self-center">
                        <div th:text="${friend.email}"></div>
                    </div>
                    <div class="col-2">
                        <a href="#" class="badge">
                            <img class="img-fluid" src="/images/facebook-logo.png" alt="">
                        </a>
                        <a href="#" class="badge">
                            <img class="img-fluid" src="/images/linked-in-logo.png" alt="">
                        </a>
                        <a th:href="${'/userChat/'+friend.id}" class="badge">
                            <img class="img-fluid" src="/images/chat-icon.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row" style=" margin-top: 5px">
                <div class="col-12">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addCardModal" style="width: 100%">
                        Add Card
                    </button>
                </div>
            </div>
            <div class="row">
                <div th:each="card: ${cardsList}" class="col-4 col-md-3">
                    <div class="container rounded" style="border: #0275d8 solid; margin-top: 5px;">
                        <div class="row">
                            <div class="col-12" style="border-bottom: #0275d8 1px dashed;">
                                <h4 th:text="${'Nr: ' + card.number}"
                                    style="font-size: larger; color: darkblue"></h4>
                            </div>
                            <div class="col-12">
                                <a class="btn" data-toggle="modal" data-target="#cardSettingsModal">
                                    <img class="img-fluid" src="/images/kaadi-black.png">
                                </a>
                            </div>
                            <div class="col-12" style="border-top: #0275d8 1px dashed;">
                                <h4 th:text="${card.founder}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<div class="modal" id="addCardModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #0275d8">
                <h5 class="modal-title">Add Card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/addCard}" method="post" class="form-signin">
                    <label for="number">Card number:</label>
                    <input type="number" id="number" name="number" th:placeholder="Card_Number"
                           class="form-control"/>
                    <button class="btn btn-lg btn-primary btn-block float-right" name="Submit" value="AddCard"
                            type="submit" th:text="Add" style="margin-top : 15px">
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
