html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

.full-background{
    height: 100vh;
}


.form-box {
    padding: 10px;
    width: 400px;
}

.container-fluid {
    padding: 0px;
}

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h3 {
    font-size: xx-large;
    color: #0275d8;
    margin-top: 15px;
    margin-bottom: 10px;
}

.not-last-input {
    margin-bottom: 10px;
}

.btn-margins{
    margin-bottom: 5px;
    margin-top: 5px;
}

.photo-login{
    width: 80%;
    height: 80%;
}