<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <Title>Login</Title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/home">
            <img src="/images/kaadi-white.png" width="43" height="30" class="d-inline-block align-top" alt="">
            Kaadi
        </a>
    </nav>
    <div class="container-centered">
        <div class="row ">
            <div class="container-centered">
                <div class="form-box">
                    <div class="text-center">
                        <img class="photo-login" src="/images/kaadi-black.png">
                    </div>
                    <h3 class="text-center">Welcome</h3>
                    <form th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control not-last-input" type="email" id="email" name="email"
                                   th:placeholder="Email" required/>
                            <label for="password">Password:</label>
                            <input class="form-control" type="password" th:placeholder="Password"
                                   id="password" name="password" required/>
                        </div>
                        <div align="center" th:if="${param.error}">
                            <p style="font-size: medium; color: #FF1C19;">Email or Password invalid,please verify</p>
                        </div>
                        <button class="btn btn-primary btn-block btn-margins" name="Submit" value="Login" type="submit"
                                th:text="Login"></button>
                    </form>
                    <form th:action="@{registration}" method="get">
                        <button class="btn btn-warning btn-block btn-margins" type="submit">Create New Acccount</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>